.city-name {
  font: 600 24px/1.4 Oswald,Arial,sans-serif;
  margin-top: 0;
}
.temperature {
  font: 600 30px/1.4 Oswald,Arial,sans-serif;
  display: flex;
}
.weather-kind {
  margin: 0 0 10px;
  font: 400 20px/1.4 Oswald,Arial,sans-serif;
}
.temp-diff {
  display: flex;
  justify-content: space-between;
  &__val {
    color: rgb(14, 117, 4);
    font: 300 18px/1.4 Oswald,Arial,sans-serif;
  }
}
.main-weather {
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
